{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
  <style>
      body {
              background-color: purple;

      }
  </style>

</head>
    <body>
        <h1> Sobre nossa pagina </h1>
        <h2> ajudando você adotar seu pet</h2>
        <p> somos uma startup que facilita as adoções, adote com responsabilidade </p>

        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 bg-side">
                        <div class='header'>
                            <img src="{% static 'usuarios/img/logo_adote.png' %}" width="9%"><span class="font-logo">ADO.TE</span>
                        </div>

                        <div class="body-form">
                            <main> ADO.TE agradecem a todos vocês </main>
    </body>

</html>